.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  margin-bottom: 10px;
}
.image {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 50px 0 30px 0;
}
.button {
  padding: 10px 20px;
  background-color: rgb(182, 145, 217);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}
.button:hover {
  background-color: blueviolet;
}
.button:active {
  background-color: rgb(70, 64, 76);
}
