.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  font-family: sans-serif;
  background-color: white;
}

.submit {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2979ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
